.brand-detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #fff;
    .error{
        width: 200px;
        height: 40px;
        background-color: #FFA500;
        position: fixed;
        top:10px;
        left:43%;
        color: #FFFFFF;
        z-index: 7;
        text-align: center;
        line-height: 40px;
        display: none
    }
    .title {
        height: 70px;
        border-bottom: 1px #e7e7eb solid;
        line-height: 70px;
        padding-left: 23px;
    }
    .titletwo {
        height: 70px;
        border-bottom: 1px #e7e7eb solid;
        line-height: 70px;
        padding-left: 23px;
        .return {
            width: 92px;
            height: 26px;
            background-color: #44b549;
            border: none;
            color: #ffffff;
            font-size: 14px;
            outline: none;
        }
    }
    .brand-detail-input {
        padding-top: 82px;
        padding-left: 157px;
        border-bottom: 1px #e7e7eb solid;
        display: flex;
        padding-bottom: 60px;
        .input-left {
            width: 350px;
            .brand-Name-div {
                font-size: 15px;
                .brand-Name {
                    width: 150px;
                    height: 20px;
                    margin-left: 5px;
                    outline: none;
                }
            }
            .brand-logo-div {
                margin-top: 40px;
                vertical-align: top;
                position: relative;
                .brand-logo-text {
                    padding-bottom: 50px;
                }
                .brand-logo {
                    width: 150px;
                    height: 152px;
                    margin-left: 4px;
                    vertical-align: top;
                }
                #brand-form {
                    width: 40px;
                    position: absolute;
                    top: 152px;
                    left: 184px;
                    .modifity {
                        width: 40px;
                        background-color: #adadad;
                        border: none;
                        color: #ffffff;
                        outline: none;
                        opacity: 0;
                    }
                }
                .modifitytwo {
                    width: 40px;
                    height: 20px;
                    background-color: #B2B2B2;
                    color: #ffffff;
                    text-align: center;
                    line-height: 20px;
                    z-index: -1;
                    position: absolute;
                    top: 152px;
                    left: 185px;
                }
            }
            .brand-classify-div {
                margin-top: 40px;
                position: relative;
                .brand-classify-select {
                    border-left: 1px #adadad solid;
                    .brand-classify-select-img {
                        width: 30px;
                        height: 22px;
                    }
                }
            }
            .brand-weight-div {
                margin-top: 40px;
                .brand-weight {
                    width: 104px;
                    height: 20px;
                    margin-left: 5px;
                    outline: none;
                    font-size: 14px;
                    padding-left: 40px;
                }
            }
        }
        .input-right {
            width: 315px;
            .brand-sumarize {
                margin-bottom: 32px;
                position: relative;
                .brand-sumarize-textarea {
                    width: 236px;
                    height: 150px;
                    outline: none;
                    resize: none;
                    vertical-align: top;
                    font-size: 18px;
                }
                .word {
                    width: 56px;
                    height: 25px;
                    background-color: #adadad;
                    block: inline-block;
                    color: #ffffff;
                    position: absolute;
                    top: 156px;
                    left: 259px;
                    text-align: center;
                    line-height: 25px;
                }
            }
            .brand-details {
                position: relative;
                .brand-details-textarea {
                    width: 236px;
                    height: 150px;
                    outline: none;
                    resize: none;
                    vertical-align: top;
                    font-size: 18px;
                }
                .word2 {
                    width: 56px;
                    height: 25px;
                    background-color: #adadad;
                    block: inline-block;
                    color: #ffffff;
                    position: absolute;
                    top: 156px;
                    left: 258px;
                    text-align: center;
                    line-height: 25px;
                }
            }
        }
    }
    .submit {
        height: 114px;
        border-bottom: 1px #e7e7eb solid;
        line-height: 114px;
        padding-left: 420px;
        .modification {
            width: 124px;
            height: 35px;
            background-color: #44b549;
            border: none;
            color: #ffffff;
            font-size: 20px;
            outline: none;
        }
    }
    .vote {
        padding-top: 35px;
        padding-left: 38px;
        ul {
            padding-left: 115px;
            li {
                height: 50px;
                line-height: 50px;
                .vote-num-day,.vote-num-mouth,.vote-num-week {
                    padding-left: 68px;
                }
            }
        }
    }
}
