// form 表单
.form-item {
  margin-bottom: 20px;
  .form-text {
    color: #676767;
    font-size: 16px;
  }

  .form-input {
    border: 1px solid #f4f4f4;
    height: 35px;
    line-height: 35px;
    width: 190px;
    padding: 0 10px;
    font-size: 16px;
    &:disabled {
      cursor: not-allowed;
    }
  }

  .textarea-wrap {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    .form-textarea {
      width: 300px;
      height: 200px;
      resize: none;
      box-sizing: border-box;
      border: 1px solid #f4f4f4;
      outline: none;
      font-size: 16px;
      padding: 5px;
    }
    .word-cnt-wrap {
      width: 100%;
      display: inline-block;
      text-align: right;
      .word-cnt-block {
        width: 70px;
        height: 30px;
        background-color: #adadad;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        &.error {
          background-color: #ce8483;
        }
        span {
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }

  select {
    height: 35px;
    border-radius: 0;
    font-size: 14px;
    &:focus {
      outline: none;
      border: 1px solid #66afe9;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }

  .form-input, .form-textarea, select {
    &:focus {
      outline: none;
      border: 1px solid #66afe9;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
    &.error {
      border-color: #843534;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    }
  }
}

// 按钮
.btn {
  min-width: 80px;
  height: 35px;
  background-color: #44b549;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

// toast
.toast-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  margin-top: 10px;
  display: none;
  z-index: 10;
  .toast-text {
    height: 35px;
    display: inline-block;
    line-height: 35px;
    background-color: orange;
    z-index: 10;
    padding: 0 30px;
    color: #fff;
  }
}

// dialog
.page-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3333;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  .dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
    .dialog-wrap {
      display: inline-block;
      text-align: left;
      min-width: 300px;
      min-height: 200px;
      background-color: #fff;
      margin: 60px;
      border-radius: 3px;
      position: relative;
      .dialog-header {
        height: 40px;
        background-color: #fafafa;
        border-bottom: 1px solid #ddd;
        padding-left: 20px;
        color: #666;
        line-height: 40px;
        .dialog-close {
          padding-right: 20px;
          float: right;
          cursor: pointer;
          display: inline-block;
          width: 30px;
          text-align: right;
          font-size: 20px;
        }
      }
      .dialog-content {

      }
      .dialog-footer {
        height: 35px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
        .dialog-confirm {
          margin-right: 10px;
        }
      }
    }
  }
}






























